/*Footer*/
#footer{
    background-color:  #222831;
    color:rgba(255,255,255,1);
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
#contigo2{
    font-family: 'Kaushan Script';
    font-size: 70px;
}
#superior ul{
    list-style:none;
    margin:0;
    padding:0;
}
#superior ul li{
    display:inline-block;
    padding: 22px;
    font-size: 24px;
}
#superior ul li a{
    color:rgba(255,255,255,1);
    text-decoration: none;
}
#superior{
    text-align: center;
    font-weight: lighter;
}
#Inferior{
    text-align: center;
    font-style: italic;
    padding-top: 60px;
    padding-bottom: 30px;
    font-weight: lighter;
}
a{
    text-decoration: none;
    color:rgba(255,255,255,1);
}
hr {
    margin: auto;
    padding-bottom: 3.5px;
    width: 90%;
    background-color: rgba(255,255,255,1) ;
    opacity: 100%;
  }
#Columna-footer{
    padding-right: 100px;
    text-decoration: none;
    font-style: italic;
}
#PrimeraColumna{
    padding-left: 100px;
    font-style: normal;
}
#bold{
    font-weight: bold;
    font-style: normal;
}
img{
    height: 40px;
    width: 40px;
    margin-left: 7px;
    margin-right: 7px;
}
a:hover {
    color: rgba(255,255,255,1);
    cursor: pointer;
  }
#iconos{
    padding-top: 10px;
}