/Contigo/nbproject/private/
/Contigo/build/
/ContigoApp/target/
/ContigoApp/bin/
/ContigoApp/.classpath
/ContigoApp/.project
/ContigoApp/.settings/
/ContigoApp/src/main/java/usa/modelo/dao/Conexion.java