/* Ajustes del sidebar */
.sidebar ul li #op3 .title-over{
    width: 160px;
}
.sidebar ul li #op5 .title-over {
    width: 130px;
}
.sidebar.active #op5{
    padding-bottom: 5%;
}

/*Estilos porpios de admin-inst.html */

.copy{
    color: var(--light);
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 10px 0 0;
}
#tabla_grados{
    /* margin: auto; */
    border: 1px solid var(--light);
    width: 65%;
}
.ds{
    background-color: white !important;
}
#print{
    display: flex;
    justify-content: center;
}
#print-list ion-icon{
   padding-left: 10px;
}

