#main-box{
    display: flex;
    justify-content: flex-start;
}
.item-content{
    margin-left: 5%;
    width: 70%;
}
.form-select{
    position: relative;
}
.hide{
    display: none;
}
h2{
    color: var(--secondary);
    font-weight: 600;
}
.copy{
    color: var(--light);
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 10px 0 0;
}
.ds{
    background-color: white !important;
}
#print{
    display: flex;
    justify-content: center;
}
#print-list ion-icon{
   padding-left: 10px;
}