body {
	font-family: 'KaushanScript-Regular';
	src: url('letra.ttf');
    
}

h1 {
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    font-size: 150%;
    font-style: oblique;
  }
#conti{
    margin-top: 2%;
}
#logo{
    width: 10%;
    height: 20%;
    margin-top: 20%;
    margin-left: 30%;
    position: absolute;
}
#pin{
    width: 100%;
    height: 100%;
}
/*chat y mensajes*/
 #chatCompleto{
    margin-left: 40%;
    margin-top: 5%;
    opacity: 100%;
    width:30%;
    border:1px solid #000000; 
    
}
#titulo{
    width: 100%;
    height: 5%;
    background-color: #222831;
    opacity: 100%;
    border:1px solid #575353; 
}
  /*-----mensajes-------*/
  #chat {
    
    text-align:left;
    border:1px solid #000000;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
#mensaje{
    background-color: #ebebeb;
    padding: 1%;
    width: 100%;
}
.mensajeInput {
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 25px;
    text-decoration: none;
    width: 88%;
    border: solid;
    border-width: 1px;
    border-color: #9c9999 solid;
    color: #000000;
    overflow: hidden;
    font-weight: lighter;
    outline: none;
}
/*boton del mensaje*/
#mensaje button{
    height: 40%;
    font-size: 100%;
    width: 10%;
}
#mensajes{
    height: 400px;
    width: 100%;
    overflow-y: scroll 
}
#chat #mensajes .mensaje-autor{
    margin-bottom: 2%;
    margin-top: 1%;
    margin-right: 1%;
}

#chat #mensajes .mensaje-autor .contenido{
    background-color: #e4e8eb;
    border-radius: 25px;
    border: solid;
    border-width: 1px;
    border-color: #9c9999 solid;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 100%;
    padding: 1%;
    vertical-align: top;
    width: 88%;
}
#chat #mensajes .mensaje-autor .fecha{
    color: #777;
    font-style: italic;
    font-size: 90%;
    text-align: left;
    margin-top: 1%;
}

#chat #mensajes .mensaje-amigo{
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 15%;

}
#chat #mensajes .mensaje-amigo .contenido{
    background-color: #273238;
    border-radius: 25px;
    border: solid;
    border-width: 1px;
    border-color: #9c9999 solid;
    color: white;
    display: inline-block;
    font-size: 100%;
    font-style: open sans; 
    padding: 1%;
    vertical-align: top;
    width: 95%;
}
#chat #mensajes .mensaje-amigo img, #chat #mensajes .mensaje-autor img{
    border-radius: 5%;
}
#chat #mensajes .mensaje-amigo .fecha{
    color: #777;
    font-style: italic;
    font-size: 90%;
    text-align: left;
    margin-top: 0%;
}
/*escribiendo*/
div.escribiendoA {
	display: flex;
	justify-content: center;
	align-items: center;
}
 #load {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	margin: 2%;
	background-image: linear-gradient(145deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0) 100%);
	animation: bounce 1.5s 0.5s linear infinite;
}
.loader {
	background-color: rgb(130, 170, 184);
    animation-delay: 0.1s;
}
@keyframes bounce {
	0%, 50%, 100% {
		transform: scale(1);
		filter: blur(0px);
	}
	25% {
		transform: scale(0.6);
		filter: blur(3px);
	}
	75% {
		filter: blur(3px);
		transform: scale(1.4);
	}
}

h5 {
    color: #ffffff;
    text-align: left;
    font-family: sans-serif;
    font-size: 80%;
    font-style: oblique;
}