* {
  box-sizing: border-box;
}
.title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
    text-decoration: none;
  color: rgb(0, 0, 0);
}
.calendar{
  background: #222831;
  width: 100%;
  max-width: 600px;
  position: relative;
  padding: 1%;
  text-align: center;
  margin-left: 2%;
  margin-bottom: 3%;
 
}

.calendarInfo{
    display: flex;
    align-items: center;
    padding: 2%;
    font-size: 100%;
    text-transform: uppercase;
    text-align: center;
  font-family: 'Open Sans', sans-serif;
    text-decoration: none;
  color: rgb(255, 255, 255);
    
}
    /*flechas*/
#prev{
    margin-right: auto;
}
#next{
    margin-left: auto;
}
/*cuadricula*/
.week, .dates{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

#month, #year{
    padding: .5em 1em;
}

.item{
    text-align: center;
    line-height: 2;
    color: rgb(180, 192, 192);
}

#last-days{
    opacity: .3;
}
.dates{
  width: 100%;
}
.dates, button:active {
    /*background-color: rgb(200, 211, 245);
   box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(209, 209, 255);*/
}
#calendarioCompleto{
    width: 100%;
    position:relative;
}
#horas{
    
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    margin: 1%;
    padding: 1% 2%;
    width: 30%;
    height: 5%;
    align-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 35%;
    top: 25%;
    
}
select {
    background: transparent;
    border-color: #222831;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 40%;
    
 }
 #listaPersonal{
     overflow: auto;
     width: 45%;
     position: absolute;
    left: 85%;
    top: 25%;
 }
/*****************************/
:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

#btnAgendamiento{
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  
}
.btn-group {
  text-align: center;
  position: absolute;
  margin-left: 80%;
  top: 25%;
}

.open-modal {
  font-weight: inherit;
  background: #222831;
  color: #fff;
  padding: 0.75rem 1.75rem;
  border-radius: 5px;
}
.close-modal {
  font-weight: inherit;
  background: #222831;
  color: #fff;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  
}


/* MODAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  width: 30%;
  height:auto;
  border-radius: 5px;
  background: rgba(96, 98, 121, 0.541);
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: #222831;
  color: #fff;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .close-modal {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}

#estado{
  position:relative;
  width: 150px;
  margin-left: 80%;
  
}
/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
  transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
  animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
