h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
#Espacios1{
    margin-top: -10px;
    padding-top: -10px;
}
.FullContainer{
    Display: inline-flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
    Flex-wrap: wrap;
}
.Container1{
    Display: inline-flex;
    width: 100%;
    margin-bottom: 10px;
    Flex-wrap: wrap;
    Flex-direction: column;
    Justify-content: Center;
    padding-bottom: 40px;
    justify-content: space-between;
    height: 260px;
    align-items: center;
}
.Container2{
    padding-bottom: 40px;
}
.Texto{
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 25px;
    text-decoration: none;
    width: 450px;
    border: solid;
    border-width: 1px;
    border-color: #9c9999 solid;
    color: #9c9999;
    overflow: hidden;
    font-weight: lighter;
    outline:none;
}
.Button{
    padding-bottom: 9px;
    padding-top: 9px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    width: 150px;
    border: none;
    background-color: #2d4059;
    color: rgba(255,255,255,1);
    text-align: left;
    outline:none;
}
.label1{
    padding-left:20px ;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    font-size: 12px;
}



.overlay{
    background: rgba(0,0,0,.3);
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay.active{
    visibility: visible;
}
.popup{
    background: rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0,.3);
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    padding:20px;
    text-align: center;
    width: 600px;
}
.btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: rgba(255,255,255,1);
}
.btn-cerrar-popup:hover{
    color:#000;
}
.popup h3{
    color: #222831;
    font-family: 'Kaushan Script';
    font-size: 36px;
    font-weight: 600;
    margin-bottom:10px;
    /*opacity: 0;*/
}
.popup h4{
    color: #222831;
    font-size: 26px;
    font-weight: 600;
    margin-bottom:20px;
    /*opacity: 0;*/
}
.popup form .contenedor-inputs{

}
.popup form .contenedor-inputs input{
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #BBBBBB;
}
.popup form .btn-submit{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color:#fff;
    background: #222831;
    border-radius: 3px;
    font-size: 16px;
    cursor:pointer;
}