*,*:before, *:after{ 
    /* Mantiene el tamaño de la caja sin importar el borde o el padong que se le agregue */
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
}
#menu{
    display: none;
}
.navbar{
    /* border: solid green 1px; */
    background-color: transparent !important;
    position: absolute;
    width: 100%;
}
.navbar-nav{
    margin: 0  auto;
}
.nav-link{
    color: rgb(201, 201, 201) !important;
    font-size: 18px !important;
}
.nav-link:hover{
    color: white !important;
}
#contenedor{
    background-image: url(../img/bk.png);
    background-position: center center;
    background-size: cover;
    margin-bottom: 5%;
}
.bk_color{
    background-color: #34343486;
    min-height: 50vh;

}
h1{
    color: white;
    font-family: 'Kaushan Script';
    font-size: 150px;
    padding: 10% 0 5%;
    text-align: center;
    width: 100%;
}
#slogan{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
#box_btn{
    text-align: center;
    margin: 0  auto;
    padding: 5% 0 10%;
    width: 80%;
}

.btn-outline-dark{
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: italic;
    padding: 1% 3%;
    width: 100%;
}
.btn-outline-dark:hover{
    background-color: #343434b9;
    border-color: #fafafab9 ;
}
#space{
    border: none;
    pointer-events: none;
    width: 5%;
}
.see{
    border: 1px solid red ;
}
#box_servicios{
    color: #343434;
    margin: 25% 20%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 80%;
}
h2{
    font-size: 38px;
    letter-spacing: 5px;
    padding-bottom: 7%;
}
.row{
    width: 100%;
}
#des_serv, #valor, #box_subs{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    padding: 5% 1%;
}
#valor{
    margin: 5% 0;
}
h3{
    font-weight: bolder;
}
.img_serv{
    /* border: 1px solid red ; */
    height: auto;
    width: 80%;
}
.col-9{
    padding-left: 10%;
}
#valor{
    background-color: #222831;
    color: white;
    font-weight: lighter;
    text-align: center;
}
#box_subs{
    font-style: normal;
    margin: 0  auto;
    min-height: 80vh;
    width: 90%;
}
#box_subs hr{
    background-color: #222831;
    margin: 0 0 3%;
    width: 15%;
}
#box_subs div {
    /* border: 1px solid red ; */
    text-align: center;
}
#box_subs button{
    border-radius: 10px;
    width: 30%;
    margin: auto;
}
#about_us{
    background-image: url(../img/team.jpg);
    background-position: center center;
    background-size: cover;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    text-align: center;
}
#about_us .row{
    padding: 0 0 3% 10%;
}
#about_us h2{
    color: white;
    font-family: 'Kaushan Script',cursive;
    font-size: 65px;
    letter-spacing: normal;
    padding-top: 5% ;
    text-align: center;
}
#about_us p{
    margin: 0 0;
}
#about_us a{
    color: rgb(207, 207, 207);
    font-style: italic;
}
#about_us a:hover{
    color: white;
}
#about_us .row + .row{
    margin-top: 3%;
}