.fondo {
  background-color: #222831;
}

.banner {
  width: 100%;
  height: 480px;
  color: rgba(255, 255, 255, 1);
  background-image: url("Imagen/school.jpg");
  background-size: 100%;
}
.opacity {
  background-color: rgb(40, 44, 52, 0.8);
  width: 100%;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 80px;
}
.Container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: Space-around;
  background-color: #222831;
  display: inline-flex;
}
.item {
  margin-right: 5px;
  margin-left: 5px;
  height: 250px;
  width: 500px;
  margin-bottom: 3%;
  display: flex;
  background-image: url("Imagen/team.jpg");
  background-size: 100%;
  align-items: Flex-end;
}
.bottom {
  background-color: rgb(48, 68, 92, 0.8);
  height: 35%;
  width: 100%;
}
.textTitle {
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  margin-left: 6px;
  margin-top: 6px;
}
.text {
  margin-left: 6px;
  font-size: 10px;
  color: rgba(255, 255, 255, 1);
}
.botonesForm {
  display: flex;
  flex-direction: row;
}
.BotonLH{
    border: 2px solid rgba(255, 255, 255, 1);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
}
.BotonLH:hover{
    border: 2px solid #93a7c5;
    color: #93a7c5;
}