.fondo {
  background-color: #ffffff;
}

h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 80px;
}
.Container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: Space-around;
  background-color: #ffffff;
  display: inline-flex;
}
.item:not(.ui.item) {
  margin-right: 5px;
  margin-left: 5px;
  height: 380px;
  width: 300px;
  margin-bottom: 3%;
  display: flex;
  /*background-image: url("Imagen/team.jpg");*/
  background-size: 100%;
  align-items: Flex-end;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 7px;
}
.OpcBotones{
  display: none;
  opacity: 1;
}
.opacityImg{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: Flex-end;
}
.opacityImg:hover{
  background-color: rgb(40, 44, 52, 0.5);
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.OpcBotonesEditar{
  background: rgb(19, 155, 19);
  padding: 9px 15px 9px 15px;
  border-radius: 5px;
  margin-left: 5px;
}
.OpcBotonesVer{
  background: rgb(60, 38, 184);
  padding: 9px 15px 9px 15px;
  border-radius: 5px;
  margin-right: 5px;
}
.opacityImg:hover .OpcBotones{
  display: block;
}
.opacityImg:hover  .bottom{
  display: none;
}
.bottom {
  background-color: #ffffff;
  height: 32%;
  width: 100%;
  border-radius: 0 0 7px 7px;
  padding-top: 8px;
}
.textTitle {
  font-size: 20px;
  color: #203e80;
  margin-left: 20px;
  margin-top: 17px;
  padding-top: 17px;
  margin-right: 20px;
}
.text {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 10px;
  color: #444444;
  padding-top: 5px;
  font-style: italic;
}
.botonesForm {
  display: flex;
  flex-direction: row;
}
.BotonLH{
    border: 2px solid rgba(255, 255, 255, 1);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
}
.BotonLH:hover{
    border: 2px solid #93a7c5;
    color: #93a7c5;
}

.pop{
  height: 30vh !important;
  margin-top: -20% !important;

}

.cerrar{
  margin-right: 3%;
  padding: 5px 15px 5px 15px;
  margin-top: 12%;
  background-color: #fff;
  border-color: #fff;
}
.cerrar:hover{
  cursor: pointer;
  background-color: #dc3545;
  color: #fff;
  
}
.aceptar{
  padding: 5px 15px 5px 15px;
  margin-top: 12%;
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

.aceptar:hover{
  cursor: pointer;
  background-color: #fff;
  border-color: #fff;
  color: black;
}

.header:not(.ui.header){
  text-align:center;
}