.img-bk1,.img-bk2,.img-bk3{
    background-position: center center;
    background-size: cover;    
}
.img-bk1{
    background-image: url(../img/inst.jpg);
}
.img-bk2{
    background-image: url(../img/estudiante.jpg);
}
.img-bk3{
    background-image: url(../img/personal.jpg);
}
nav a{
    color: white;
}
.img-over-color{
    padding-bottom: 10%;
}
.img-over-color .box-1{
    border: 1px solid var(--light);
    border-radius: 15px;
    background-color: white;
    margin: auto;
    padding-bottom: 3%;
    width: 50%;
}
.logo h1{
    margin: 2%;
}
.logo p, .inputs{
    text-align: center;
}
.inputs, .login-btns{
    margin: auto;
    padding-bottom: 5%;
    width: 70%;
}
.inputs{
    margin-top: 2%;
}
.form-control{
    border: none;
    border-bottom: 1px solid var(--light);
}
.get-psw a{
    color: var(--text);
    font-weight: 300;
    text-decoration: none;
}
.login-btns{
    text-align: center;
}
.login-btns button{
    width: 100%;
}
nav{
    display: flex;
    padding: 2% 0 7% 2%;
}
nav a{
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
}
nav a:hover{
    color: var(--light);
}
ion-icon {
    color: white;
    font-size: 20px;
    padding-top: 5px;
}
.users{
    display: flex;
    justify-content: center;
    /* margin-right: 5%; */
    width: 100%;
}
.users a{
    padding-right: 5%;
}
.back{
    padding: 3px 10px;
}
.user, .user-in, .back:hover{
    background-color: rgba(56, 56, 56, 0.377); 
    border-radius: 10px;
    color: var(--bk);
}
.user, .user-in{
    padding: 5px 20px;
}
.user:hover{
    background-color: rgba(192, 190, 190, 0.377); 
    border-radius: 10px;
    color: white;
}
.user-in{
    background-color: var(--bkf); 
    color: var(--text);
}
#recuperarContra{
    background: none;
    color: var(--text);
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-top: -15px;
    margin-bottom: 5%;
}
#recuperarContra:hover{
    color: var(--primary);
}