nav{
    border-bottom: 1px solid var(--bk);
}
nav a{
    text-decoration: none;
}
.navbar-brand{
    font-family: 'Kaushan Script';
    font-size: 35px;
}
.minav{
    display: flex;
    justify-content: center;
    width: 100%;
}
.navitems{
    display: flex;
    font-size: 20px;
    justify-content: center;
}
.navbar-nav li a{
    color: var(--text) !important;
}
nav li {
    padding-right: 5%;
}
nav a, .navitems a, .log-out a{
    color: var(--text);
    text-decoration: none;
}
nav a:hover, .navitems a:hover, .navbar-nav li a:hover, .log-out a{
    color: var(--primary) !important;
}
.log-out{
    align-items: center;
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-right: 5%;

}
ion-icon:not(.enElSidebar){
    color: var(--primary);
    font-size: 30px;
    padding: 1px 0 0 10px;
    --ionicon-stroke-width: 35px;
}
.btn-home button{
    border: none;
}
