body{
    overflow-x: hidden;
 }
.col a{
    text-decoration: none;
}
.col h2{
    color: white;
    font-family: 'Kaushan Script';
    font-size: 70px;
    padding: 45% 0 5%;
    text-align: center;
}
#dsc, #citas, #cnv{
    background-position: center center;
    background-size: cover;
    padding: 0 0;
    text-align: center;
}
.img-over-color{
    height: 100vh;
}
.img-over-color:hover{
    background-color: rgba(37, 48, 54, 0.329);
  }
#dsc{
    background-image: url(../img/conv_bk.jpg);
}
#citas{
    background-image: url(../img/m5.jpg);
}
#cnv{
    background-image: url(../img/ImagenA.jpg);
}
.col p{
    color: white;
    font-size: 16px;
    font-style: italic;
    margin: 0 auto;
    width: 70%;
}
















/* Responsive Design */
@media only screen and (max-width: 600px) {
    html{
        background-color: rgba(247, 0, 0, 0.103);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html{
        background-color: rgba(247, 181, 0, 0.103);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html{
        background-color: rgba(132, 247, 0, 0.103);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html{
        background-color: rgba(0, 16, 247, 0.103);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html{
        background-color: rgba(247, 0, 247, 0.103);
    }
}