.sidebar{
    background-color: var(--secondary);
    color: white;
    height: 100vh;
    transition: all 0.5s ease-out;
    width: 4%;
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
}
.sidebar .link-name{
    display: none;
}
.sidebar.active{
    transition: all 0.5s ease;
    width: 20%;
}
.sidebar.active  ul li .title-over{
    display: none;
}
.sidebar.active .link-name{
    display: block;
    width: 100%;
}
.sidebar ul, .sidebar.active ul{
    list-style: none;
    padding: 3% 0;
}
.sidebar ul li, .sidebar.active ul li{
    font-size: 20px;
}
.name{
    font-size: 30px;
    font-weight: 700;
}
.name p{
    padding-top: 1%;
    padding-left: 5%;
    width: 100%;
}
.item, .name{
    display: flex;
    justify-content: flex-start;
}
.sidebar.active .item{
    padding: 4% 0 0% 5%;
}
.item{
    padding: 20% 0% 20% 30%;
}
.sidebar.active .name{
    margin-bottom: 0%;
}
.name{
    margin-bottom: 40%;
}
.left{
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    width: 50%;
}
.sidebar.active .left{
    padding-right: 5%;
}
.item:hover{
    background-color: var(--primary);
}
.item.selected{
    background-color: var(--primary);
}
.arrow{
    margin: 10px 0;
    font-size: 30px;
}
.sidebar.active #sh{
    display: none;
}
.sidebar.active #hd{
    display: block;
}
.sidebar #sh{
    display: block;
    padding-top: 10px;
    margin: 0 auto;
}
.sidebar #hd{
    display: none;
}
.link-name{
    padding-left: 5%;
}
ion-icon {
    /* border: solid 1px red; */
    font-size: 20px;
    margin-top: 5px;
}
.sidebar ul li .title-over{
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,0.2) ;
    color: var(--text);
    height: 30px;
    left: 30px;
    margin-top: -15px;
    opacity: 0;
    padding: 0% 7px; 
    position: absolute;
    pointer-events: none;
    transition: 0s;
    text-align: center;
    width: auto;
}
.sidebar ul li:hover .title-over{
    transition: all 0.3s ease;
    margin-top: -5px;
    opacity: 1;
}
.last{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#usr_name{
    font-size: 16px;
    padding-left: 0;
    padding-right: 10px;
}
.sidebar.active .bi-box-arrow-right{
    padding-right: 20px;
}
.sidebar.perca ul li #op5 .title-over{
    width: 160px;
}
/*Contenido de los items */
#main-box{
    display: flex;
    justify-content: flex-start;
}
.item-content{
    margin: 0 5%;
    width: 80%;
}
.hide{
    display: none;
}
h2, .item-tlt{
    color: var(--secondary);
    font-weight: 600;
    margin-bottom: 0;
}
.item-dsc{
    color: var(--desc);    
    font-size: 16px;
}
.w-sidebar{
    margin-left: 8%;
}